#include "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Shared.xcconfig"
PRODUCT_BUNDLE_IDENTIFIER={{project_package_name}}.dev
CFBundleName={{project_name.pascalCase()}} Debug
FLUTTER_TARGET=lib/main.dart
PROVISIONING_PROFILE_SPECIFIER={{project_name.pascalCase()}} Dev
CODE_SIGN_IDENTITY=iPhone Developer
